version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: db_cont
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_db
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  django_app:
    build: .
    container_name: django_cont
    command: gunicorn notesapp.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file: .env
    volumes:
      - .:/app

  nginx:
    build: ./nginx
    container_name: nginx_cont
    ports:
      - "8001:80"
    depends_on:
      - django_app

volumes:
  db_data:
